.sideImage {
	display: flex;
}

.sideImage > .sideImageL {
	margin: 10px;
	min-width: 150px;
	max-width: 150px;
}

.sideImage > .sideImageR {
	margin: 10px;
	padding: 20px;
}

.sideImageImg {
	height: 150px;
}

@media screen and (max-width: 420px) {
	.sideImage {
		flex-direction: column;
	}

	.sideImage > .sideImageL {
		margin: 10px auto;
		min-width: 200px;
		max-width: 200px;
	}
}
