name: test-code-examples

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  code_examples:
    name: Test Workshop snippets
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_cases: ["dapp", "workshop", "core"]
        required: ['required']
        include:
          - node-version: "staking"
            required: 'optional'

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Test style conventions
        working-directory: code_examples/sdk_examples
        run: |
          yarn install --frozen-lockfile
          yarn lint && yarn style

      - name: Run tests
        timeout-minutes: 60
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          FAUCET_SEED: ${{ secrets.PEREGRINE_FAUCET_SEED }}
        run: |
          yarn install --frozen-lockfile
          yarn test

  # Only test the style conventions for the viteJS snippets, nothing is run here
  vitejs:
    name: Test ViteJS snippets
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Test style conventions
        working-directory: code_examples/vitejs
        run: |
          yarn install --frozen-lockfile
          yarn lint && yarn style
      - name: Test production build
        working-directory: code_examples/vitejs
        run: |
          yarn build
