name: test-code-examples

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  workshop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: run integration tests
        timeout-minutes: 60
        working-directory: code-examples
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          FAUCET_SEED: ${{ secrets.PEREGRINE_FAUCET_SEED }}
        run: |
          yarn install --frozen
          yarn run ts-node index.ts

  core_features:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: run integration tests
        timeout-minutes: 60
        working-directory: code-examples
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          FAUCET_SEED: ${{ secrets.PEREGRINE_FAUCET_SEED }}
        run: |
          yarn install --frozen
          yarn run ts-node core_features/index.ts
