name: test-code-examples

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  code_examples:
    name: Test code snippets
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_case: ["dapp", "workshop", "core"]
        required: ['required']
        include:
          - test_case: "staking"
            required: 'optional'

    continue-on-error: ${{ matrix.required == 'optional' }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Test style conventions
        working-directory: code_examples/sdk_examples
        run: |
          yarn install --frozen-lockfile
          yarn lint && yarn style

      - name: Run tests
        timeout-minutes: 60
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          BASE_MNEMONIC: ${{ secrets.BASE_MNEMONIC }}
        run: |
          yarn install --frozen-lockfile
          yarn test ${{ matrix.test_case }}

  # Only test the style conventions for the viteJS snippets, nothing is run here
  vitejs:
    name: Test ViteJS snippets
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Test style conventions
        working-directory: code_examples/vitejs
        run: |
          yarn install --frozen-lockfile
          yarn lint && yarn style
      - name: Test production build
        working-directory: code_examples/vitejs
        run: |
          yarn build

  check-links:
    name: Check for broken links
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install
        run: |
          yarn install --frozen-lockfile
      - name: Check for broken links
        run: |
          yarn check-links
