name: test-code-examples

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  workshop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: run integration tests
        timeout-minutes: 60
        working-directory: code-examples/workshop
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          FAUCET_SEED: ${{ secrets.PEREGRINE_FAUCET_SEED }}
        run: |
          yarn install --frozen
          node index.ts

  core_features:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: run tests
        timeout-minutes: 60
        working-directory: code-examples/core_features
        env:
          NODE_OPTIONS: --unhandled-rejections=strict
          FAUCET_SEED: ${{ secrets.PEREGRINE_FAUCET_SEED }}
        run: |
          yarn install --frozen
          yarn run ts-node run_core_features.ts
